In [44]:
import pandas as pd
import datetime
import matplotlib

In [2]:
pd_df = pd.read_csv('~/Downloads/producto_tabla.csv')
len(pd_df)

2592

In [3]:
pd_df.head()

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
3           53          Burritos Sincro 170g CU LON 53
4           72     Div Tira Mini Doradita 4p 45g TR 72

In [25]:
print(datetime.datetime.now())
df = pd.read_csv('~/Downloads/train.csv').rename(str.lower)
print(len(df))
print(datetime.datetime.now())

2016-07-24 21:11:57.851314
74180464
2016-07-24 21:17:47.135980

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74180464 entries, 0 to 74180463
Data columns (total 11 columns):
Semana               int64
Agencia_ID           int64
Canal_ID             int64
Ruta_SAK             int64
Cliente_ID           int64
Producto_ID          int64
Venta_uni_hoy        int64
Venta_hoy            float64
Dev_uni_proxima      int64
Dev_proxima          float64
Demanda_uni_equil    int64
dtypes: float64(2), int64(9)
memory usage: 6.1 GB

In [29]:
df.head()

,semana,agencia_id,canal_id,ruta_sak,cliente_id,producto_id,venta_uni_hoy,venta_hoy,dev_uni_proxima,dev_proxima,demanda_uni_equil
0,3,1110,7,3301,15766,1212,3,25.14,0,0.0,3
1,3,1110,7,3301,15766,1216,4,33.52,0,0.0,4
2,3,1110,7,3301,15766,1238,4,39.32,0,0.0,4
3,3,1110,7,3301,15766,1240,4,33.52,0,0.0,4
4,3,1110,7,3301,15766,1242,3,22.92,0,0.0,3

In [43]:
df['demanda_uni_equil'].describe()

count    7.418046e+07
mean     7.224564e+00
std      2.177119e+01
min      0.000000e+00
25%      2.000000e+00
50%      3.000000e+00
75%      6.000000e+00
max      5.000000e+03
Name: demanda_uni_equil, dtype: float64

In [33]:
prod_week = df.groupby(['semana'])['demanda_uni_equil'].agg(['sum','count'])

In [35]:
prod_week

             sum     count
semana
3       77664309  11165207
4       79618866  11009593
5       77610637  10615397
6       73851129  10191837
7       76597014  10382849
8       75525105  10406868
9       75054450  10408713